asgiref==3.8.1
asyncio==3.4.3
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.6
django-appconf==1.0.6
django-compressor==4.4
idna==3.7
protobuf==5.26.1
python-dateutil==2.9.0.post0
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
six==1.16.0
sqlparse==0.5.0
upstox-python-sdk==2.4.1
urllib3==2.2.1
uuid==1.30
websocket-client==1.8.0
websockets==12.0
